:root {
   --titleColor: #111827;
   --textColor: #4b5563;
   --px: 24px;
   --py: 24px;
   --radius: 16px;
   --borderWidth: 3px;
   --borderColor: #e5e7eb;
   --bgColor: #ffffff;
}
body {
   font-family: "Plus Jakarta Sans", sans-serif;
   background-color: #f9f9fa;
}
#card {
   border-radius: var(--radius);
   border: var(--borderWidth) solid var(--borderColor);
   transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
   background-color: var(--bgColor);
   transform: scale(0.95);
}
#card img {
   border-radius: calc(var(--radius) - var(--borderWidth))
      calc(var(--radius) - var(--borderWidth)) 0 0;
   object-fit: cover;
   height: 240px;
   width: 100%;
}
#card .content {
   padding: calc(var(--py) * 0.75) calc(var(--px) * 0.75);
}
#card h2 {
   color: var(--titleColor);
   font-size: 1.25rem;
   line-height: 1.2;
}
#card p {
   color: var(--textColor);
   font-size: 0.875rem;
   line-height: 1.5;
}

/* Custom range slider styling */
input[type="range"] {
   -webkit-appearance: none;
   appearance: none;
   background: transparent;
   cursor: pointer;
}
input[type="range"]::-webkit-slider-runnable-track {
   background: #e5e7eb;
   height: 0.5rem;
   border-radius: 0.5rem;
}
input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   margin-top: -4px;
   background-color: #4f46e5;
   height: 1rem;
   width: 1rem;
   border-radius: 50%;
}
